.wrapper, .flexWrapper {
    width: 100%;
    min-height: 100vh;
    background: rgb(38, 38, 38);
    position: relative;
    display: flex;
}
.flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notFoundWrapper {
    padding: 10px 10px;
    color: #fff;
}